/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
    
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* -------------------------------------------------- */

.logo{
	width: 90%;
}



.splash{
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    flex-direction: row;
    background-image: url('../../../static/spalsh3.jpg');
    width: 100vw;
    height: 100vh;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    background-origin: content-box;
    background-color: #C2AB8B;
    padding-left: 6.66%;
    
}

.control {
    background-color: black;
    height: 13vh;
    width: 46vw;
    position: absolute;
    top:40%;
    right:0;
    z-index: 0;
}

body {
	background-color: #282828;
}

.arrow {
	width: 3vmin;
	height: 3vmin;
	box-sizing: border-box;
	position: absolute;
	right:2%;
    transform: rotate(45deg);
}

.arrow.left{
    transform: rotate(225deg);
    bottom: 0;
}
	
	.arrow::before {
		content: '';
		width: 100%;
		height: 100%;
		border-width: .8vmin .8vmin 0 0;
		border-style: solid;
		border-color: #fafafa;
		transition: .2s ease;
		display: block;
		transform-origin: 100% 0;
	}

	
	.arrow:after {
		content: '';
		float: left;
		position: relative;
		top: -100%;
		width: 100%;
		height: 100%;
		border-width: 0 .8vmin 0 0;
		border-style: solid;
		border-color: #fafafa;
		transform-origin: 100% 0;
		transition:.2s ease;
	}
	
	.arrow:hover::after {
 
        transform: rotate(45deg)  translateX(-1px);;
		border-color: orange;
		height: 120%;
	}
	.arrow:hover::before {
     
		border-color: orange;
		transform: scale(.9);
		
	}
	

.stripe-top {
	text-align:center;
}
.stripe-top h1 {
	font-weight: bolder;
	font-size: 1.5rem;
}

.stripe-bottom {
	transform: rotate(-90deg);
}


